<!DOCTYPE html>
<html>
<head>
  <title>Redactor</title>
  <meta charset="utf-8">
  <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  <%= stylesheet_link_tag 'activeadmin-redactor' %>
</head>

<body>
  <%= form_for(resource, url: resource_path(resource)) do |f| %>
    <%= f.submit %>
    <%= f.text_area :redactorable, id: 'redactor' %>
    <%= f.submit %>
  <% end %>

  <%= javascript_include_tag 'activeadmin-redactor' %>
  <script type="text/javascript">
    $(function()
    {
      $('#redactor').redactor({
        focus: true
      });
    });
  </script>
</body>
</html>
