<!DOCTYPE html>
<html>
<head>
  <title>Redactor</title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag *@viewport_opts.stylesheets %>
</head>

<body>
  <%= yield %>
</body>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'activeadmin-redactor' %>
  <script type="text/javascript">
    $(function() {
      $('#redactor').redactor({
        focus: <%= @redactor_opts.focus %>,
        fullpage: <%= @redactor_opts.fullpage %>,
        iframe: <%= @redactor_opts.iframe %>,
        css: <%=raw redactor_css(@redactor_opts.css) %>,
        minHeight: <%= @redactor_opts.minheight %>,
        imageUpload: '<%= @redactor_opts.imageupload %>',
      });
    });
  </script>
</html>
