<!DOCTYPE html>
<html>
<head>
  <title>Redactor</title>
  <meta charset="utf-8">
  <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  <%= stylesheet_link_tag *@viewport_opts.stylesheets %>
</head>

<body>
  <%= yield %>
</body>
  <%= javascript_include_tag 'activeadmin-redactor' %>
  <script type="text/javascript">
    $(function()
    {
      $('#redactor').redactor({
        iframe: <%= @redactor_opts.iframe %>,
        css: <%=raw redactor_css(@redactor_opts.css) %>,
        minHeight: window.innerHeight - 100,
        imageUpload: <%= @redactor_opts.imageupload %>,
      });
    });
  </script>
</html>
